body {
    background-color: #2E4F3D;
    font-family: Garamond serif ;
    font-size: large;
    color: antiquewhite;
}
#logo {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0px;
}

h1 {
    text-align: center;
    font-family: Georgia serif;
    color: antiquewhite;
}

#navi {
    padding: 20px;
    text-align: center;
    font-size: x-large;
}

#hakuotsikko {
    margin: 0px;
}

.nav-button.haku-button {
    background-color: #6B8F71;
    padding: 14px;
    border-radius: 60px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.nav-button {
    background-color: #6B8F71;
    padding: 40px;
    margin: 10px;
    border-radius: 60px;
    text-align: center;    
}

.hakuwrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 400px;
    margin: 0 auto;
    background-color: white;
    border-radius: 25px;
    padding: 5px 10px;
}

form {
    width: 100%;
    display: flex;
    justify-content: center;
}

.hakukentta {
    color: #b7cdeb;
    outline: none;
    border: none;
    background: transparent;
    width: 300px;
    font-size: large;
    margin: 4px;
}

.hakukentta::placeholder {
    color: #5a7ca8bd;
}

.search-icon {
    color: #5a7ca8bd;
    margin-left: 5px;
}

.kirjataulu {
    background-color: #6B8F71;
    border-color: rgb(139, 131, 120);
    border-radius: 30px;
    width: 90%;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    margin: 20px auto;
}

.kirjataulu th {
    padding: 20px;
    margin: 20px;
    text-align: left;
    font-size: large;
}

.kirjataulu td {
    padding: 10px;
    margin: 10px;
    padding-left: 20px;
    margin-left: 20px;
    text-align: left;
    padding-bottom: 30px;
    font-size: large;
}

footer {
    text-align: center;
    position: sticky;
    bottom: 0;
}